@page "/{id:int?}"
@model CarDealership.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cars</h1>

<p>
    <a asp-page="Create">Create a new car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Dealership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarTypes)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarD.Cars) {
            string selectedRow = "";
            if (item.ID == Model.CarID){
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealership.ID)
            </td>
            <td>
                @{
                    foreach (var type in item.CarTypes){
                        @type.Type.ID @: @type.Type.TypeDescription
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
